@import "tailwindcss";

/* ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.button {
  background-color: #3b82f6;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: larger;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.button:hover{
  background-color: #275298;
} */
